$white: #fff;
$black: #000;

$green: #6FCF97;

$fiolet: #9466E9;
$orange: #FF991B;

$yellow: #F2C94C;

$blue: #3961D2;

$primary: linear-gradient(353.59deg, #1F43C2 100%, #3961D2 0%);
$primaryHover: linear-gradient(354.92deg, darken(#1F43C2, 10%) 100%,darken(#3961D2, 10%) 0%);