.about-author__wrap {
  margin-bottom: 65px;
}

.about-author__title {
  font-weight: 500;
  font-size: px-to-rem(54px);
  line-height: px-to-rem(64px);
  color: #F2C94C;
  margin: 0 0 35px 0;
  display: inline-block;
}

.about-author__img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 980px) {

  .about-author__title {
    font-size: px-to-rem(44px);
    line-height: px-to-rem(56px);
  }

}

@media (max-width: 680px) {

  .about-author__title {
    font-size: px-to-rem(28px);
    line-height: px-to-rem(42px);
  }

}