.advantages__wrap {
  margin-top: -90px;
}

.advantages__title--hide {
  @include visually-hidden;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.advantages__item {
  flex-basis: 20.3%;
  margin: 25px 0 0;
  padding: 24px 16px;
  display: flex;
  align-items: center;
  background: $white;
  border-radius: 0 16px;
}

.advantages__subtitle {
  font-size: px-to-rem(14px);
  line-height: px-to-rem(22px);
  margin: 0 0 0 15px;
  color: #333333;
}

.advantages__icon {
  display: block;
  max-width: 100%;
}

.advantages__top {
  display: flex;
  justify-content: space-between;

  .advantages__title {
    flex-basis: 52%;
  }

  .advantages__title-info {
    flex-basis: 47%;
  }

}

.advantages__title-info {
  opacity: 0.7;
  font-size: px-to-rem(14px);
  line-height: px-to-rem(22px);

  b {
    font-weight: 700;
  }

}

.advantages__top-wrap {
  display: flex;
  align-items: center;
}

.advantages--two-block {

  .advantages__wrap {
    margin-top: 65px;
  }

  .advantages__item {
    flex-basis: 48.6%;
    margin: 15px 0;
    background: linear-gradient(105.08deg, rgba(167, 39, 137, .4) 1.66%, rgba(58, 31, 164, .4) 101.06%);
    border-radius: 16px;
    padding: 25px 24px;
    box-sizing: border-box;
    display: block;
  }

  .advantages__subtitle {
    background: none;
    color: $white;
    -webkit-text-fill-color: $white;
    margin-left: 0;
  }

  .advantages__icon {
    margin: 0 15px 0 0;
  }

}

.advantages__text {
  font-size: px-to-rem(14px);
  line-height: px-to-rem(22px);
  color: #F2F2F2;
  opacity: 0.8;
  margin: 20px 0;
}

@media (max-width: 980px) {

  .advantages__wrap {
    margin-top: 0;
  }

  .advantages__title {
    font-size: px-to-rem(44px);
    line-height: px-to-rem(56px);
  }

}


@media (max-width: 880px) {

  .advantages__list {
    justify-content: space-between;
  }

  .advantages__item {
    flex-basis: 48%;
    box-sizing: border-box;

    br {
      display: none;
    }

  }

  .advantages__top {
    flex-direction: column;
  }

  .advantages__title-info {
    flex-basis: auto;
  }

  .advantages__title {
    flex-basis: auto;
    align-self: flex-start;
  }

}

@media (max-width: 680px) {

  .advantages__title {
    font-size: px-to-rem(28px);
    line-height: px-to-rem(42px);
  }

  .advantages__wrap {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .advantages__list--two-block {
    flex-direction: column;

    .advantages__item {
      flex-basis: auto;
    }

  }

  .advantages__top-wrap {
    flex-direction: column;
    text-align: center;
  }


  .advantages--two-block {

    .advantages__icon {
      margin-right: 0;
      margin-bottom: 10px;
    }

  }

}

@media (max-width: 480px) {

  .advantages__list {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .advantages__item {
    flex-basis: auto;
  }

}