.quality__title {
  font-weight: 500;
  font-size: px-to-rem(54px);
  line-height: px-to-rem(64px);
  color: $yellow;
  margin: 0;
  display: inline-block;
}

.quality__wrap {
  margin-top: 65px;
  margin-bottom: 45px;
}

.quality__comand {
  padding: 45px 55px;
  border: 1px dashed $yellow;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 40px 0 50px;
  color: $white;
}

.quality__text {
  font-size: px-to-rem(17px);
  line-height: px-to-rem(24px);
  margin: 20px 0;
}

@media (max-width: 980px) {

  .quality__title {
    font-size: px-to-rem(44px);
    line-height: px-to-rem(56px);

    br {
      display: none;
    }

  }

}

@media (max-width: 680px) {

  .quality__title {
    font-size: px-to-rem(28px);
    line-height: px-to-rem(42px);
  }

  .quality__comand {
    padding: 5px 25px;
  }

}