.why {

}

.why__wrap {
  margin-top: 70px;
  margin-bottom: 70px;
}

.why__title {
  font-size: px-to-rem(54px);
  line-height: px-to-rem(64px);
  margin: 20px 0 40px;
  color: $yellow;
}

.why__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.why__item {
  flex-basis: 32.5%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 15px;

  &:nth-child(1) {
    background-color: #0d1536;
  }
  &:nth-child(2) {
    background-color: #111d49;
  }
  &:nth-child(3) {
    background-color: #16255c;
  }
  &:nth-child(4) {
    background-color: #1f3a92;
  }
  &:nth-child(5) {
    background-color: #1d3480;
  }
  &:nth-child(6) {
    background-color: #172a6d;
  }

  img {
    margin: 20px 0;
  }

  p {
    font-size: px-to-rem(17px);
    line-height: px-to-rem(24px);
    opacity: 0.8;
    &:first-of-type {
      font-size: px-to-rem(18px);
      line-height: px-to-rem(24px);
      font-weight: 500;
      margin-top: 0;
    }
  }
}

@media (max-width: 980px) {
  .why__item {
    flex-basis: 49%;
  }
  .why__title {
    font-size: px-to-rem(44px);
    line-height: px-to-rem(56px);
  }
}

@media (max-width: 680px) {
  .why__title {
    font-size: px-to-rem(28px);
    line-height: px-to-rem(42px);
  }
}

@media (max-width: 680px) {
  .why__wrap {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .why__item {
    flex-basis: 100%;
  }
}